*.* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 10%;
    background: #1F2937;
}

h1 {
    font-family: karia, arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.teal {
    color: #4ADF86;
}

h2 {
    font-family: inter, arial, sans-serif;
    font-weight: 200;
    font-size: 20;
    color: white;
}

button {
    color: white;
    background: #10B981;
    border: none;
    border-radius: 3px;
    padding: 9px 15px;
    margin-top: 35px;
}

hr {
    margin: 35px;
    width: 75%;
    max-width: 500px;
}

.area-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.password-area {
    background: #273549;
    margin: 0 15px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}

p {
    padding: 0;
    margin: 0;
    font-family: inter, arial, sans-serif;
    color: #55F991;
    font-weight: 700;
    font-size: 16px;
}